<h1>Ingresar</h1>

<div>
    <form id="loginForm">
        <label>Email</label><input name="email">
        <br>
        <label>Contraseña</label><input type="password" name="password">
        <br>
        <input type="submit">
    </form>
</div>

<p>¿No tienes una cuenta? <a href="/register">Registrate</a></p>

También puedes ingresar por
<br>
<a href="/api/sessions/github"><button>Github </button></a>
<br>
<br>
<a href="/api/sessions/google"><button>Google </button></a>
<br>
<br>
<br>
<a href="/"><button>Volver</button></a>


<script src="/js/login.js"></script>